src/flows.json
[{"id":"6b67d713.999278","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bcab6317.1e9d","type":"mqtt-broker","z":"","name":"","broker":"ie_databus","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6dc800e8.3e3fa","type":"s7 endpoint","z":"","transport":"iso-on-tcp","address":"192.168.80.20","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapterauto":true,"adapterport":"","busaddr":"2","adapteraddr":"0","cycletime":"100","timeout":"1500","verbose":"default","name":"","vartable":[{"addr":"DB3,REAL2","name":"Accely"},{"addr":"DB3,REAL6","name":"Accelx"}]},{"id":"c1360953.04c6a8","type":"s7 endpoint","z":"","transport":"iso-on-tcp","address":"192.168.80.20","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapterauto":true,"adapterport":"","busaddr":"2","adapteraddr":"0","cycletime":"100","timeout":"1500","verbose":"default","name":"","vartable":[{"addr":"DB3,REAL2","name":""}]},{"id":"1604bc3d.c8cda4","type":"mqtt-broker","z":"","name":"","broker":"ie_databus","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fa1e3492.515c38","type":"s7 endpoint","z":"","transport":"iso-on-tcp","address":"192.168.80.20","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapterauto":true,"adapterport":"","busaddr":"2","adapteraddr":"0","cycletime":"100","timeout":"1500","verbose":"default","name":"","vartable":[{"addr":"DB4,REAL10","name":"shock"}]},{"id":"4249256a.a1ac3c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"IE Flow Creator Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"197d658a.0f95aa","type":"ui_tab","z":"","name":"Virtual shock sensor","icon":"","disabled":false,"hidden":false},{"id":"15ed0041.2777b","type":"ui_group","z":"","name":"Inputs","tab":"197d658a.0f95aa","order":1,"disp":true,"width":"6","collapse":false},{"id":"d016de80.7116d","type":"ui_group","z":"","name":"Shock sensor output","tab":"197d658a.0f95aa","order":2,"disp":true,"width":"6","collapse":false},{"id":"acffe1a4.c1edf","type":"livetwin-node","z":"6b67d713.999278","name":"LiveTwin","model":"shock_sensor_flow_creator","modelid":"bf74a159-c658-446d-9640-7a9f8b8850bf","triggered":false,"debugmode":false,"autostart":"inherited","x":580,"y":300,"wires":[["ceec62cb.2c646","787038ac.fa7cf8"]]},{"id":"17c63585.3a43aa","type":"s7 in","z":"6b67d713.999278","endpoint":"6dc800e8.3e3fa","mode":"all","variable":"","diff":true,"name":"","x":320,"y":220,"wires":[["55393b4d.8ab914","acffe1a4.c1edf","cf30332.f7171d"]]},{"id":"55393b4d.8ab914","type":"debug","z":"6b67d713.999278","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":220,"wires":[]},{"id":"ceec62cb.2c646","type":"debug","z":"6b67d713.999278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":300,"wires":[]},{"id":"eae450f1.82d41","type":"ui_chart","z":"6b67d713.999278","name":"","group":"15ed0041.2777b","order":0,"width":"6","height":"9","label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-2","ymax":"2","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":120,"wires":[[]]},{"id":"cf30332.f7171d","type":"function","z":"6b67d713.999278","name":"","func":"var accx ={\n    payload : msg.payload.Accelx,\n    topic : \"accx\"\n}\n\nvar accy ={\n    payload : msg.payload.Accely,\n    topic : \"accy\"\n}\n\nreturn [accx,accy]","outputs":2,"noerr":0,"initialize":"","finalize":"","x":540,"y":140,"wires":[["eae450f1.82d41"],["eae450f1.82d41"]]},{"id":"731a4ada.c55d24","type":"ui_switch","z":"6b67d713.999278","name":"","label":"Shock status","tooltip":"","group":"d016de80.7116d","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1050,"y":380,"wires":[[]]},{"id":"787038ac.fa7cf8","type":"function","z":"6b67d713.999278","name":"","func":"\nif(msg.payload.Schock===0){\n    return {payload: false};\n} else {\n     return {payload: true};\n}\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":380,"wires":[["da256806.8ada58","a7c0b50a.938548"]]},{"id":"da256806.8ada58","type":"debug","z":"6b67d713.999278","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":480,"wires":[]},{"id":"a7c0b50a.938548","type":"rbe","z":"6b67d713.999278","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":890,"y":380,"wires":[["731a4ada.c55d24"]]}]